
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans", serif;
}


/* .main{
    display: flex; */
    /* border: 1px solid red; */
    /* justify-content: center;
    align-items: center;
  
  
    
}

.oye{
  margin-top: 100px;
    width: 500px; */
    /* padding-left: 350px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: powderblue;
}
.oye button{
    
    margin-bottom: 25px;
    background-color: blue;

}

.oye div {
    
    color: black;
    
} */
/* /New form */
/* .layout{ */
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .formSection{ */
    /* border: 5px solid black; */
    /* width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px ;
} */

/* .formSection input{ */
    /* border: 2px solid blueviolet; */
    /* width: 60%;
    height: 2rem;
    padding-left: 10px;
} */

/* .formSection div{ */
    /* border: 3px solid goldenrod; */
    /* width: 60%; */
    /* padding-bottom: -30px; */
    /* height: 2.8rem; */
    
    
/* } */

/* .formSection button{
    padding: 10px 50px 10px 50px;
    background-color: lightseagreen;
    border-radius: 5px;
} */


   

